<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<PlanetStability>Temperature stability</PlanetStability>
	<PlanetStability_Low>Extreme</PlanetStability_Low>
	<PlanetStability_Normal>Normal</PlanetStability_Normal>
	<PlanetStability_High>Stable</PlanetStability_High>

	<!-- Settings.cs -->
	<LowegSettingsRestartWarning>IMPORTANT REMINDER: You MUST restart the game for changes to take effect</LowegSettingsRestartWarning>
	<!-- Vanilla -->
	<LowegTweakTemperatureOverhaul>Temperature overhaul</LowegTweakTemperatureOverhaul>
	<LowegTweakTemperatureOverhaulDesc>Replaces many game constants with dynamic values, such as how much the temperature varies between day and night. Also adds a new "Overall Temperature" slider on the world creation screen.</LowegTweakTemperatureOverhaulDesc>
	<LowegTweakSensibleLessons>Sensible Lesson Skill Selection</LowegTweakSensibleLessons>
	<LowegTweakSensibleLessonsDesc>When an adult teaches a lesson to a child, select the topic skill based on the teacher's expertise and the child's interest via a weighted random, rather than randomly from the top 4, which is essentially random because kids can only learn 4 skills to start anyway. Also removes that restriction because kids can learn about things they can't do yet (why can they learn about firing rocket launchers but not making toast?).</LowegTweakSensibleLessonsDesc>
	<LowegTweakDrugCrafting>Drug crafting fix</LowegTweakDrugCrafting>
	<LowegTweakDrugCraftingDesc>Fixes the drug crafting identity crisis. See readme.</LowegTweakDrugCraftingDesc>
	<LowegTweakFoodPoisoning>Food poisoning rebalance</LowegTweakFoodPoisoning>
	<LowegTweakFoodPoisoningDesc>Rebalances food poisoning so that there is no longer a guaranteed chance for a highly skilled cook to poison meals.</LowegTweakFoodPoisoningDesc>
	<LowegTweakWorkType>Work types shuffle</LowegTweakWorkType>
	<LowegTweakWorkTypeDesc>Moves around work types within the work catagories so that your doctors are no longer overloaded with having to feed all of your patients. Also combines growing and plant cutting for extra space. See readme for more.</LowegTweakWorkTypeDesc>
	<LowegTweakFloorAffordance>Floor affordance tweaks</LowegTweakFloorAffordance>
	<LowegTweakFloorAffordanceDesc>Changes some floor affordances so that they don't all require heavy terrain (for example, carpets and straw).</LowegTweakFloorAffordanceDesc>
	<LowegTweakRelicDiversification>Relic Diversification</LowegTweakRelicDiversification>
	<LowegTweakRelicDiversificationDesc>Makes it so that apparel and some other things can spawn as relics.</LowegTweakRelicDiversificationDesc>
	<LowegTweakQualityRebalance>Quality rebalance</LowegTweakQualityRebalance>
	<LowegTweakQualityRebalanceDesc>Rebalances the chance of generating quality items when crafting, constructing, etc. This makes higher skill matter more, and highly skilled pawns are more likely to make quality items. However, pawns with low skills are more likely to have poor quality results. The new algorithm has a bit less variance, and is much more similar to the Dwarf Fortress distributions.</LowegTweakQualityRebalanceDesc>
	<LowegTweakBlindRebalance>Blind Workers</LowegTweakBlindRebalance>
	<LowegTweakBlindRebalanceDesc>Make blindness matter less for some things (mining, deep drilling, researching, animal gather speed, foraging, and smoothing specifically, and general labor speed as well), as blind people aren't completely unemployable IRL.</LowegTweakBlindRebalanceDesc>
	<LowegTweakFancyHats>Fancy Hats</LowegTweakFancyHats>
	<LowegTweakFancyHatsDesc>All fancy hats are equally fancy (all social impact boosts are .2), so if you want your leader to be a cowboy they don't miss out on .1 of social impact.</LowegTweakFancyHatsDesc>
	<LowegTweakDisableEvents>Disable Bullshit Events</LowegTweakDisableEvents>
	<LowegTweakDisableEventsDesc>Disable crop blight and short circuit.</LowegTweakDisableEventsDesc>


	<!-- Mod Support -->
	<LowegTweakCapableSerketist>Capable Serketist</LowegTweakCapableSerketist>
	<LowegTweakCapableSerketistDesc>Makes the Serketist role in Vanilla Memes Expanded capable of more labors.</LowegTweakCapableSerketistDesc>
	<LowegTweakTribalResearch>Tribals Research Patches</LowegTweakTribalResearch>
	<LowegTweakTribalResearchDesc>Adds mod compatibility and patches to require Vanilla Factions Expanded - Tribals researches for some modded buildings and recipes, and fixes the smooth stone designation bug. Patches Cooking and Agriculture, CE, Colony Manager, Deep Storage, Rimefeller, and Dubs Bad Hygiene.</LowegTweakTribalResearchDesc>
	<LowegTweakForsakenDarkMood>Forsaken dark mood</LowegTweakForsakenDarkMood>
	<LowegTweakForsakenDarkMoodDesc>Makes the special mood debuff for the Forsaken Crags in Alpha Biomes take into account blindness and opinions on darkness.</LowegTweakForsakenDarkMoodDesc>
</LanguageData>