<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<!-- Language data for the Mod Settings (see Settings.cs) -->
	<LowegSettingsRestartWarning>IMPORTANT REMINDER: you MUST restart the game for changes to take effect</LowegSettingsRestartWarning>
	<LowegTweakTemperatureOverhaul>Temperature overhaul</LowegTweakTemperatureOverhaul>
	<LowegTweakTemperatureOverhaulDesc>Replaces many game constants with dynamic values, such as how much the temperature varies between day and night. Also adds a new "Overall Temperature" slider on the world creation screen.</LowegTweakTemperatureOverhaulDesc>
	<LowegTweakDrugCrafting>Drug crafting fix</LowegTweakDrugCrafting>
	<LowegTweakDrugCraftingDesc>Fixes the drug crafting identity crisis. See readme.</LowegTweakDrugCraftingDesc>
	<LowegTweakFoodPoisoning>Food poisoning rebalanced</LowegTweakFoodPoisoning>
	<LowegTweakFoodPoisoningDesc>Rebalanced food poisoning so that there is no longer a guaranteed chance for a highly skilled cook to poison meals.</LowegTweakFoodPoisoningDesc>
	<LowegTweakWorkType>Work types shuffle</LowegTweakWorkType>
	<LowegTweakWorkTypeDesc>Moves around work types within the work catagories so that your doctors are no longer overloaded with having to feed all of your patients. Also combines growing and plant cutting for extra space. See readme for more.</LowegTweakWorkTypeDesc>
	<LowegTweakCapableSerketist>Capable Serketist</LowegTweakCapableSerketist>
	<LowegTweakCapableSerketistDesc>Makes the Serketist role in Vanilla Memes Expanded capable of more labors.</LowegTweakCapableSerketistDesc>
	<LowegTweakForsakenDarkMood>Forsaken dark mood</LowegTweakForsakenDarkMood>
	<LowegTweakForsakenDarkMoodDesc>Makes the special mood debuff for the Forsaken Crags in Alpha Biomes take into account blindness and opinions on darkness.</LowegTweakForsakenDarkMoodDesc>
</LanguageData>